/**********************************
 * General
***********************************/
body, button, input {
    font-family: $primary-font;
}

body {
    cursor: default;
    -webkit-user-select: none;
}

::selection {
    background: var(--highlight_bg);
    color: var(--highlight_fg);
}

hr {
    border: none;
    border-top: 1px solid $grey-light;
}

content button {
    display: inline-flex;
    padding: 5px 10px;
    vertical-align: middle;
    line-height: 15px;

    svg {
        height: 16px;
        width: 16px;
        padding-right: 5px;

        path {
            fill: var(--page_fg);
        }
    }
}

/**********************************
 * Fixed height layout
***********************************/
body {
    overflow: hidden;
}

$header-height: 38px;
$header-padding-vertical: 6px + 6px;
$footer-height: 58px;
$footer-padding-vertical: 6px + 6px;

header {
    height: $header-height;
}

content {
    height: calc(100vh - #{$header-height + $header-padding-vertical + $footer-height + $footer-padding-vertical});
    overflow-y: scroll;
    display: flex;
    font-size: 0.9em;
}

footer {
    height: $footer-height;
}

/********************************
 * Push footer to the bottom
*********************************/
body {
    background: var(--page_bg);
    color: var(--page_fg);
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    min-width: 320px;

    /* Behave like an application then a web page */
    -webkit-user-select: none;
}

footer {
    margin-top: auto;
}

/************************
 * Text Classes
*************************/
.monospace {
    font-family: $monospace-font;
    font-size: 16px;
}

/************************
 * Markdown
*************************/
content {
    color: var(--page_fg);

    img {
        max-width: 100%;
    }
}

content > .content {
    margin: 40px 0;
}

code {
    font-family: $monospace-font;
    color: var(--highlight_fg);
}

blockquote {
    background-color: $grey-lightest;
    border-left: 2px solid $grey-dark;
    padding: 10px;
    padding-left: 45px;
    position: relative;

    p {
        margin: 0;
    }

    &:before {
        content: "❝";
        color: $grey-dark;
        font-size: 40px;
        position: absolute;
        left: 15px;
        top: 0px;
    }
}

pre {
    display: block;
    background-color: $grey-lightest;
    color: black;
    padding: 15px;
    margin: 15px 0;

    code {
        color: black;
    }
}

p.center {
    text-align: center;

    img {
        margin-left: auto;
        margin-right: auto;

        /* Caption */
        + strong {
            display: block;
            font-size: 0.9em;
        }
    }
}
