/**********************************
 * Common header/footer elements
***********************************/
header,
footer {
    background: var(--header_bg);
    color: var(--header_fg);
    cursor: default;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    padding: 6px 8px;

    /* Buttons on the header use a custom 'flat' style - used as tab bar */
    button {
        display: flex;
        -webkit-appearance: none;
        background: var(--header_bg);
        color: var(--header_fg);
        border: 1px solid transparent;
        padding: 5px 10px;
        transition:  border-color, background;
        transition-duration: $transition-duration;
        transition-timing-function: $transition-timing;

        svg {
            height: 16px;
            max-width: 16px;
        }

        span {
            margin: auto 0;
            margin-left: 4px;
        }

        &:hover,
        &:focus {
            border-color: var(--highlight);
        }

        &.active,
        &:active {
            background: var(--highlight);
        }

        &.disabled {
            opacity: 0.25;
            pointer-events: none;
        }
    }

    .left {
        margin-right: auto;
        display: flex;
    }

    .right {
        margin-left: auto;
        display: flex;
    }

    svg path {
        fill: var(--header_fg);
    }
}


/**********************************
 * Header only
***********************************/
header {
    .left {
        #back-button {
            display: flex;
            -webkit-appearance: none;
            padding: 5px 10px;

            svg {
                margin: auto;
                height: 22px;
                width: 22px;
            }
        }

        .title {
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 250px;
            white-space: nowrap;
            margin: auto 5px;
            font-size: 1.1em;
        }
    }

    .right {
        /* Boutique icon on browse icon too small */
        #nav-button-browse {
            svg {
                height: 22px;
                max-width: 22px;
            }
        }
    }
}


/**********************************
 * Footer only
***********************************/
footer {
    font-size: 14px;
}

#footer-status {
    display: flex;
    cursor: pointer;
    padding-top: 4px;
    opacity: 0;
    transition: none;

    &.appear {
        opacity: 1;
        transition: opacity $transition-duration linear;
    }

    .status-text {
        padding: 0 6px;
    }
}

#status-icon {
    height: 24px;
    width: 24px;

    svg {
        height: 24px;
        width: 24px;
    }

    &.ok,
    &.error {
        + #status-text #progress-text {
            padding-top: 3px;
        }
    }

    &.busy {
        animation: status-busy 1s linear infinite;
        transform-origin: center;
    }
}

#status-text {
    display: flex;
    flex-direction: column;
    padding: 0 6px;
    min-height: 55px;
}

#progress-bar {
    height: 6px;
    width: 200px;
    margin-top: auto;
    overflow: hidden;
}

#progress-subtext {
    margin-top: auto;
    margin-bottom: auto;
    opacity: 0.5;
    font-size: 0.9em;
}

@keyframes status-busy {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}
