/************************
 * GTK Colours
*************************/
/* Default: Ambiant-MATE */
:root {
    --page_bg: #F4F4F4;
    --page_fg: #000000;
    --header_bg: #3c3b37;
    --header_fg: #dfdbd2;
    --highlight_fg: #ffffff;
    --highlight_bg: #91AE62;
}

/************************
 * General
*************************/
$grey-light: #D4D3D0;
$grey-lightest: #EDEDED;
$grey-dark: #A9A9A9;
$grey-darker: #616161;

$page-border: 1px solid rgba(255,255,255,0.5);
$app-bg: rgba(255,255,255,0.1);
$app-border: 1px solid rgba(255,255,255,0.25);

/************************
 * Animations
*************************/
$transition-duration: 0.15s;
$transition-timing: ease-in-out;

/************************
 * Fonts
*************************/
$primary-font: "Ubuntu", "Noto", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
$monospace-font: "Ubuntu Mono", "Noto Mono", "Roboto Mono", "Droid Sans Mono", "DejaVu Sans Mono", monospace;
