
/************************
 * General
*************************/
html {
    overflow: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;

    /* Behave more like an application by preventing text highlighting / dragging. */
    -webkit-user-select: none;
    cursor: default;
}

img, a {
    -webkit-user-drag: none;
    user-drag: none;
}

body {
    background-color: #f4f4f4;
    background: #F4F4F4 url("img/background.svg") no-repeat fixed right bottom;
    background-position: 100% calc(100% - 64px);
}

body, button, input {
    font-family: 'Ubuntu', sans-serif;
}

p {
    font-size: 1em;
}


/************************
 * Page Fade In
*************************/
/*
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#main-page, #subheader {
    opacity: 0;
    -webkit-animation: fadeIn;
    -webkit-transition: opacity;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
}
*/


/************************
 * Cursors
*************************/
.cursor-wait {
    cursor: wait;
}


/************************
 * Buttons
*************************/
/* Buttons behave like anchors */
button {
    -webkit-appearance: none;
    background: transparent;
    border: none;
    padding: 0;
    font: inherit;
    border: 1px solid transparent;
    cursor: default !important;
    color: #758A53;
    font-size: 14px;
}

.link:hover {
    cursor: pointer !important;
    text-decoration: underline;
}

.link:focus {
    text-decoration: underline;
    font-style: bold;
    outline: 0;
    color: #44522E;
}

.link:active {
    border: 1px solid #87A556;
    text-decoration: underline;
}

/* Button Theme - Dialog */
button.dialog-theme {
    background: linear-gradient(white, #F5F4F3);
    border: 2px solid #D4D3D0;
    color: black;
    border-radius: 8px;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
}

button.dialog-theme:focus,
button.dialog-theme:hover,
button.dialog-theme:active {
    border: 2px solid #A9A9A9;
    outline: 0;
}

button.dialog-theme:active {
    background: linear-gradient(#E4E4E4, #E9E9E9);
}

/* Button Theme - Header/Footer */
button.inverted {
    background: linear-gradient(#585858, #3C3B37);
    color: white;
}

button.inverted:active {
    background: linear-gradient(#3C3B37, #585858);
    color: white;
}

/* Button Theme - Green */
button.green {
    background: linear-gradient(#87A556, #6F8647);
    color: white;
}

button.green:active {
    background: linear-gradient(#6F8647, #87A556);
    color: white;
}

/* Button Theme - Yellow */
button.yellow {
    background: linear-gradient(#FBB24C, #F8970D);
    color: white;
}

button.yellow:active {
    background: linear-gradient(#F8970D, #FBB24C);
    color: white;
}

/* Button Theme - Red */
button.red {
    background: linear-gradient(#ED5E5A, #C03831);
    color: white;
}

button.red:active {
    background: linear-gradient(#C03831, #ED5E5A);
    color: white;
}

/* Button Theme - Dropdown */
button.dropdown {
    color: #DED9CB;
}

button.dropdown:hover {
    color: white;
}

/* Buttons for navigation/header/footer */
button.navigation {
    width: 40px;
    height: 30px;
    color: #DED9CB;
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
}

button.navigation:hover {
    color: #fff;
}

button.navigation:focus {
    border: 1px solid #87A556;
}

button.navigation:active {
    background-color: #667E40;
    color: #fff;
}

button.navigation.active {
    background-color: #667E40;
}

button.navigation.with-text {
  width: auto;
}

/* Checkbox controls for footer */
button.checkbox:focus,
button.checkbox:hover,
button.checkbox:active {
    opacity: 0.9;
}

button.checkbox:focus {
    text-decoration: underline !important;
}


/************************
 * Scroll Bar Integration
*************************/
::-webkit-scrollbar {
    width: 20px;
    height: 18px;
    z-index: 100;
}

::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    z-index: 100;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
    z-index: 100;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
    z-index: 100;
}


/************************
 * Header
*************************/
#header {
    position: fixed;
    left: 0;
    top: 0;
    padding: 8px;
    width: 100%;
    height: 32px;
    padding: 8px;
    margin-bottom: 8px;
    z-index: 10;
    box-shadow: -8px 2px 10px rgba(0,0,0,0.5);
    z-index: 100;

    /* Ambience Theme */
    background-color: #3C3B37;
    font-size: 24px;
    font-weight: normal;
    color: #DED9CB;
}

#header > .right {
    float: right;
    margin-top: 2px;
    margin-right: 16px;
}

#header-title {
    font-size: 18px;
    padding-left: 4px;
    vertical-align: middle;
    display: inline-block;
}

#header-subtitle {
    font-weight: normal;
    font-size: 18px;
    vertical-align: middle;
    display: inline-block;
    color: #959595;
}

#navigation-right {
    position: fixed;
    top: 8px;
    right: 8px;
    z-index: 11;
}

#navigation-right.disabled,
#category-tabs.disabled ul li button,
button.disabled {
    opacity: 0.4;
    pointer-events: none;
}

#scroll-top {
    transition: 1s linear opacity;
}

/************************
 * Subheading
*************************/
#subheader {
    background-color: #656565;
    left: 0;
    top: 48px;
    position: fixed;
    padding: 8px;
    width: 100%;
    height: 24px;
    padding: 8px;
    margin-bottom: 8px;
    z-index: 9;
    font-size: 16px;
    font-weight: normal;
    color: #DED9CB;
    box-shadow: -8px 2px 10px rgba(0,0,0,0.5);
    z-index: 90;
}

#subheader > .left {
    float: left;
    margin-top: 0px;
    margin-left: 4px;
}

#subheader > .right {
    float: right;
    margin-top: -2px;
    margin-right: 16px;
}

#subheader .with-icon {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 2px;
}

#current-category-icon {
    width: 22px;
    height: auto;
    max-height: 22px;
    float: left;
}

#current-category-text {
    float: left;
    margin-left: 4px;
    margin-top: 2px;
}


/************************
 * Content
*************************/
.content {
    top: 88px;
    bottom: 64px;
    left: 0;
    right: 0;
    padding: 16px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    height: auto;
    width: auto;
    z-index: 50;
}

#backdrop-icon {
    position: fixed;
    right: 16px;
    bottom: 80px;
    height: 250px;
    width: 250px;
    opacity: 0.1;
    filter: grayscale(1);
}


/************************
 * Footer
*************************/
#footer {
    background-color: #3C3B37;
    color: #7F7F7D;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    height: 48px;
    width: 100%;
    padding: 8px;
    z-index: 100;
    box-shadow: -8px 2px 10px 4px rgba(0,0,0,0.5);
}

#footer-left {
    padding: 4px;
    transition: 1s linear color;
}

#footer-right {
    padding: 4px;
    display: inline-block;
    position: absolute;
    right: 16px;
    bottom: 28px;
}

#footer button {
    color: #fff;
    text-decoration: none;
    margin-right: 8px;
}

#footer label {
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
    vertical-align: middle;
    margin-right: 8px;
    color: #fff;
}

#footer-left.active {
    color: white;
}

#queue-status-text {
    margin-left: 2px;
}

/* Queue busy icon */
#queue-inprogress {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-bottom: 3px;
    filter: brightness(2);
}

/* Queue progress bar */
.progress-bar {
    background-color: #7f7f7d;
    margin-top: 8px;
    width: 300px;
    height: 4px;
}

.progress-bar-inner {
    background-color: #476717;
    width: 200px;
    height: 100%;
}



/************************
 * Busy Animation
*************************/
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

.busy-ani {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1s;
    -webkit-animation-repeat: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}


/************************
 * Custom Page Layouts
*************************/
#loading-page {
    position: fixed;
    left: 0; right: 0; top: 32px; bottom: 48px;
    margin: auto;
    width: 400px;
    height: 100px;
    text-align: center;
    z-index: 60;
    z-index: 60;
}

#loading-page > #init-text {
    font-size: 14px;
    color: gray;
    margin-top: 8px;
}

#loading-page > .progress-bar {
    margin: auto;
    margin-top: 8px;
    display: none;
}

.split-page > .left {
    position: fixed;
    top: 48px;
    left: 0px;
    bottom: 64px;
    padding: 12px;
    right: 60%;
    text-align: center;
}

.split-page > .right {
    position: fixed;
    top: 48px;
    right: 0px;
    bottom: 64px;
    padding: 12px;
    left: 40%;
}

#distwarn-footnote {
    opacity: 0.5;
    font-size: 12px;
    padding: 4px;
    display: block;
}

.full-page {
    position: fixed;
    top: 48px;
    bottom: 64px;
    left: 0; right: 0;
    padding: 16px;
    z-index: 95;
}

.overlay-page {
    background-color: #f4f4f4;
    z-index: 90;
}


/************************
 * First Run Page
*************************/
#firstrun-page {
    background-color: #DADADA;
}

#firstrun-page > .page-contents {
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 170px;
    margin: auto;
    width: 550px;
    height: 360px;
}

#firstrun-page .graphic {

}

#firstrun-page .text {

}

#firstrun-page .buttons {
    position: fixed;
    bottom: 100px;
    left: 0;
    right: 0;
    text-align: center;
}

#firstrun-page .buttons > button {
    width: 100px;
    transition: 0.2s linear all;
}

#firstrun-page .blobs {
    position: fixed;
    bottom: 150px;
    left: 0;
    right: 0;
    text-align: center;
}

#firstrun-page .blob {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #b8b8b8;
    border-radius: 100%;
}

#firstrun-page .blob.done {
    background-color: #95b069;
}


/************************
 * Choose a Category
*************************/
#categories-page {
    position: fixed;
    top: 88px;
    bottom: 64px;
    left: 0;
    right: 0;
    width: 97%;
    height: calc(100% - 88px - 64px - 32px);
    padding: 16px;
    background-color: rgba(200, 200, 200, 0.4);
    z-index: 90;
    overflow-y: scroll;
}

#categories-page > .category .option {
    width: 200px;
    background-color: white;
    border: 2px solid white;
    box-shadow: 1px 1px 1px lightgray;
    padding: 8px;
    display: inline-block;
    transition: border-color 0.1s linear;
}

#categories-page > .category .option:hover,
#categories-page > .category .option:focus {
    border-color: lightgray;
}

#categories-page > .category .option:hover + .app-previews > img,
#categories-page > .category .option:focus + .app-previews > img {
    opacity: 0.5;
}

#categories-page > .category .option > img {
    width: 24px;
    height: 24px;
}

#categories-page > .category .option > label {
    position: relative;
    bottom: 4px;
}

#categories-page > .category .app-previews {
    display: inline-block;
    position: relative;
    top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    width: calc(100% - 200px - 64px);
    height: 40px;
    overflow: hidden;
}

#categories-page > .category .app-previews > img {
    width: 40px;
    height: 40px;
    opacity: 0.2;
    transition: 0.2s opacity linear;
}

#categories-page > .category .app-previews > img:hover {
    opacity: 1;
}


/************************
 * Animations
*************************/
/* Keyframes */
@-webkit-keyframes left-in {
    0% { -webkit-transform: translateX(100%); opacity: 0; }
    100% { -webkit-transform: translateX(0%); opacity: 1; }
}
.left-in { -webkit-animation-name: left-in; }

@-webkit-keyframes left-out {
    0% { -webkit-transform: translateX(0%); opacity: 1; }
    100% { -webkit-transform: translateX(-100%); opacity: 0; }
}
.left-out { -webkit-animation-name: left-out; }

@-webkit-keyframes right-in {
    0% { -webkit-transform: translateX(-100%); opacity: 0; }
    100% { -webkit-transform: translateX(0%); opacity: 1; }
}
.right-in { -webkit-animation-name: right-in; }

@-webkit-keyframes right-out {
    0% { -webkit-transform: translateX(0%); opacity: 1; }
    100% { -webkit-transform: translateX(100%); opacity: 0; }
}
.right-out { -webkit-animation-name: right-out; }

/* Global Settings */
.left-in,
.left-out,
.right-in,
.right-out {
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in-out;
}


/************************
 * Application Cards
*************************/
.topic-card-container {
    float: left;
    width: 100%;
    min-height: 64px;
    height: auto;
    margin-top: 4px;
    margin-bottom: 4px;
}

.topic-card {
    float: left;
    min-width: 200px;
    width: auto;
    height: 44px;
    background-color: white;
    box-shadow: 1px 1px 1px rgba(192,192,192,0.5);
    transition: all 0.1s linear;
    padding: 8px;
    margin: 8px;
    color: black;
}

.topic-card:hover,
.topic-card:focus {
    text-decoration: none;
    box-shadow: 0px 0px 10px rgba(192,192,192,1);
}

.topic-card > span {
    float: left;
    margin-right: 6px;
    font-size: 2em;
}

.topic-card > img {
    float: left;
    margin-right: 6px;
    width: 36px;
    height: 36px;
    top: -4px;
    position: relative;
}

.topic-card:hover > img,
.topic-card:focus > img {
    -webkit-filter: brightness(1.1);
}

.topic-card > p {
    float: left;
    padding-top: 4px;
    padding-right: 24px;
}

