<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body style="display:none">

    <!-- Libraries -->
    <script src="lib/jquery-3.4.1.slim.min.js"></script>
    <script src="lib/jquery.fancybox.min.js"></script>
    <link href="lib/jquery.fancybox.min.css" rel="stylesheet" async>
    <script>
        $.fancybox.defaults.loop = false;
        $.fancybox.defaults.toolbar = false;
        $.fancybox.defaults.buttons = ['close'];
    </script>

    <!-- Runtime -->
    <link href="boutique.css" rel="stylesheet" media="screen">
    <script src="ui/svgs.js"></script>
    <script src="js/main.js"></script>
    <script src="js/queue.js"></script>

</body>
</html>
